body {
    display: grid;
    place-items: center;
}
.body__title {
    font-size: 40px;
}
.gallery {
    width: 800px;
}
.gallery__showcase {
    width: 800px;
    height: 500px;
    background: url('512px-Mario_Series_Logo.svg.png') no-repeat center;
    border: 1px solid black;
}
.gallery__clickables {
    width: 800px;
    display: flex;
}
.gallery__images {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 1px solid black;
}
.gallery__images--1 {
    background: url('512px-Mario_Series_Logo.svg.png') no-repeat center;
    background-size: contain;
}
.gallery__images--2 {
    background: url('mario-3d-all-stars-1024x572.jpg') no-repeat center;
    background-size: cover;
}
.gallery__images--3 {
    background: url('mario_kart_tour.jpg') no-repeat center;
    background-size: cover;
}
.gallery__images--4 {
    background: url('video-button.jpg') no-repeat center;
    background-size: cover;
}